/* Form Style */
form ul {
	margin: 0;
	padding: 0;
}

form ul li {
	margin: 0 0 15px;
	padding: 0;
	list-style: none;
}

form ul li label {
	font-weight: bold;
	font-size: 12px;
}

label.note {
	color: #999;
	font-weight: normal;
	font-size: 10px;
}

label.choice {
	margin: 0 15px 0 0;
	font-weight: normal;
	font-size: 12px;
	color: #666;
}

input {
	margin: 0;
	padding: 0;
}

input.text,textarea {
	margin: 5px 0 0 0;
	padding: 3px 5px;
	border: 1px solid #c4c4c4;
	background: #fbfbfb;
	font-size: 12px;
}

input.radio,input.checkbox,input.file {
	margin: 5px 5px 0 0;
}

input.button {
	font-size: 12px;
	margin: 0 10px 0 0;
}

select.drop {
	font-size: 12px;
	margin: 5px 5px 0 0;
	border: 1px solid #d2d2d2;
}

input.short {
	width: 20%;
}

input.medium {
	width: 45%;
}

input.long {
	width: 75%;
}

input.max {
	width: 96%;
}

.req {
	color: #d8122d;
	font-weight: normal;
}

/*
* Messages
*/
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/message_icons/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/message_icons/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/message_icons/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/message_icons/error.png');
}
.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../images/message_icons/validation.png');
}


/* Button */
.button {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	color: #fff;
	font-weight: bold;
	background: #000;
	border: none;
	padding: 0.25em 6px;
	cursor: pointer;
}

.button:hover {
	background: #4a4a4a;
}


#navTopMenu
{
	min-width: 760px;
	height: 30px;
	display: block;
	margin: 0 0px 25px 0px;
	padding: 0;
	position: relative;
	z-index: 2;
	background-repeat: repeat-x;
	background-position: left;
	background-color: #E3E3E3;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #C4C4C4;
	background-image: url(../images/navigation-bg.gif);
}

/* remove all the bullets, borders and padding from the default list styling */
#navTopMenu ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	height: 28px;
}

/* style the sub-level lists */
#navTopMenu ul ul
{
	width: auto;
}

/* float the top list items to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#navTopMenu ul li 
{
	float: left;
	height: 30px;
	line-height: 28px;
}

/* style the sub level list items */
#navTopMenu ul ul li 
{
	display: block;
	width: auto;
	height: auto;
	position: relative;
	line-height: 1em;
}

/* style the links for the top level */
#navTopMenu a,
#navTopMenu a:visited 
{
	display: block;
	float: left;
	height: 100%;
	font-size: 11px;
	text-decoration: none;
	color: #333;
	background-image: url(../images/navigation-line.gif);
	background-repeat: no-repeat;
	background-position: 100%;
	padding-top: 0px;
	padding-right: 21px;
	padding-bottom: 0px;
	padding-left: 17px;
}

#navTopMenu li.active a 
{
	background-color: #FFFFFF;
	font-weight: bold;
}

#navTopMenu li.active ul li.active a
{
	background-color: #EEE;
	font-weight: bold;
}

/* style the sub level links */
#navTopMenu ul ul a,
#navTopMenu ul ul a:visited 
{
	display: block;
	color: #333;
	width: 100%;
	height: 100%;
	line-height: 1em;
	padding: 0.5em 1em;
	background-image:none;
}

#navTopMenu ul table ul a,#navTopMenu ul table ul a:visited {
	width: 14em;
	width: 12em;
}

/* style the table so that it takes no part in the layout - required for IE to work */
#navTopMenu table 
{
	position: absolute;
	left: 0;
	top: 0;
	font-size: 1em;
	z-index: -1;
}

#navTopMenu ul ul table {
	left: -1px;
}

#navTopMenu ul ul table ul.left {
	margin-left: 2px;
}

#navTopMenu li:hover {
	position: relative;
}

* html #navTopMenu a:hover {
	position: relative;
}

/* style the third level background */
#navTopMenu ul ul ul a,#navTopMenu ul ul ul a:visited {
	background: #F5F5F5;
}

/* style the fourth level background */
#navTopMenu ul ul ul ul a,#navTopMenu ul ul ul ul a:visited {
	background: #F5F5F5;
}

/* style the sub level 1 background */
#navTopMenu ul :hover a.sub1 {
	background: #F5F5F5;
}

/* style the sub level 2 background */
#navTopMenu ul ul :hover a.sub2 {
	background: #F5F5F5;
}

/* style the level hovers */ /* first */
#navTopMenu a:hover {
	color: #333;
	text-decoration:underline;
}

#navTopMenu :hover>a {
	color: #333;
	text-decoration:none;
}

#navTopMenu ul ul
{
	height:auto;
}
/* second */
#navTopMenu ul ul a {
	color: #333;
	background-color: #D4D0C8;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F4F4F4;
	border-right-color: #808080;
	border-left-color: #F4F4F4;
	border-bottom-color: #808080;
}
#navTopMenu ul ul a:hover {
	color: #333;
	background-color: #E4E1DC;
}

#navTopMenu ul ul :hover>a {
	color: #333;
	background: #E4E1DC;
}

/* third */
#navTopMenu ul ul ul a:hover {
	background: #F5F5F5;
}

#navTopMenu ul ul ul :hover>a {
	background: #3da1e0;
}

/* fourth */
#navTopMenu ul ul ul ul a:hover {
	background: #eee;
}

/* hide the sub levels and give them a positon absolute so that they take up no room */
#navTopMenu ul ul {
	visibility: hidden;
	position: absolute;
	height: 0;
	top: 28px;
	left: 0;
	width: 14em;
}

/* position the third level flyout menu */
#navTopMenu ul ul ul {
	left: 14em;
	top: 0;
	width: 14em;
}

/* position the third level flyout menu for a left flyout */
#navTopMenu ul ul ul.left {
	left: -14em;
}

/* make the second level visible when hover on first level list OR link */
#navTopMenu ul li:hover ul,#navTopMenu ul a:hover ul {
	visibility: visible;
	height: auto;
	padding-bottom: 3em;
}

/* keep the third level hidden when you hover on first level list OR link */
#navTopMenu ul :hover ul ul {
	visibility: hidden;
}

/* keep the fourth level hidden when you hover on second level list OR link */
#navTopMenu ul :hover ul :hover ul ul {
	visibility: hidden;
}

/* make the third level visible when you hover over second level list OR link */
#navTopMenu ul :hover ul :hover ul {
	visibility: visible;
}

/* make the fourth level visible when you hover over third level list OR link */
#navTopMenu ul :hover ul :hover ul :hover ul {
	visibility: visible;
}

#content table
{
	width: 100%;
	margin: 0 0 15px;
	text-align: left;
	border-collapse: collapse;
}
#content table th,
#content table td
{
	padding: 8px;
	color: #000;
}
#content table th
{
	font-weight: bold;
	color: #9D9D9D;
}

	/* table.grid Style */   
table.grid {
	width: 100%;
	margin: 0 0 15px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #c4c4c4;
}

table.grid thead {
	color: #666;
}

table.grid th {
	font-weight: normal;
	padding: 5px 8px;
	color: #666;
	background: #e5e5e5;
}

table.grid td {
	padding: 8px;
	color: #000;
	border-top: 1px solid #c4c4c4;
}

table.grid td span.active {
	color: #55a34a;
}

table.grid td span.pending {
	color: #c5a059;
}

table.grid td span.closed {
	color: #a02b2b;
}

table.grid tr {
	border-top: none;
	background: #f9f9f9;
}

table.grid .odd {
	background: #fff;
}


#footer .navigation
{
 display:block;
 padding-left: 100px;
 padding-top: 9px;
}

#footer .navigation li
{
	padding: 5px;
    margin-top: 20px;
	display: inline;
}

#footer .navigation a
{
 color: #fff;
}